footer
    .container.text-center            
        .row.text-left
          .col-md-3
          .col-md-4
            h3 联系我们：
            p 
            | 福建省福州市仓山区福峡路上城国际6号楼1403室 
            | Room 1403, building 6, Shangchengguoji Garden, Fuxia Road, Fuzhou, China 
            |                       
            |                       
            p
              i.fa.fa-phone
              |  +86 18060608001
            |                       
            p
              i.fa.fa-envelope
              |  mail@yxy3511.com
          .col-md-4
            img.QRImg(src='/images/yxy.jpg')
        .row.copy
            p
              | 版权为 Shengyi 所有未经许可不得转载或链接，闽ICP备00123141234号
            p
              a(href="/login", target="_blank", title="yxy3511") Admin
