footer
    .container.text-center            
        .row
          .footText
            h3 联系我们
            p 北京市朝阳区光华路和乔大厦505
            |                       
            //- p 3422 Street, Barcelona 432, Spain, New Building North, 15th Floor
            |                       
            p
              i.fa.fa-phone
              |  +101 377 655 22125
            |                       
            p
              i.fa.fa-envelope
              |  mail@yxy3511.com
          //-div(style="width:50%;float:left;")
            //-img.QRImg(src='/images/yxy.jpg')
        .row.copy
            p
              | More Info 
              a(href="/login", target="_blank", title="yxy3511") 始于足下
              |  - Collect from 
              a(href="/login", target="_blank", title="yxy3511") 鞋行天下
            p
              | 版权为鞋行天下（中国）有限公司所有未经许可不得转载或链接，闵ICP备024584266号