footer
      .container.text-center
        p
          | More Info 
          a(href="http://www.baidu.com/", target="_blank", title="模板之家") 始于足下
          |  - Collect from 
          a(href="http://www.baidu.com/", title="鞋行天下", target="_blank") 鞋行天下