extends layout

block content
    section#aboutMe.light-bg.content
      .container
        .row
          .col-lg-12.text-center
            .section-title
              h2 ABOUT US
              | 							
              p
                | A creative agency based on Candy Land, ready to boost your business with some beautifull templates. Lattes Agency is one of the best in town see more you will be amazed.
        | 				
        .row
          // about module
          .col-md-3.text-center
            .mz-module-about
              i.fa.fa-briefcase.ot-circle
              | 							
              h3 Web Development
              | 							
              p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
          // end about module
          // about module
          .col-md-3.text-center
            .mz-module-about
              i.fa.fa-photo.ot-circle
              | 							
              h3 Visualisation
              | 							
              p
                | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
          // end about module
          // about module
          .col-md-3.text-center
            .mz-module-about
              i.fa.fa-camera-retro.ot-circle
              | 							
              h3 Photography
              | 							
              p Accusamus et iusto odio dignissimos ducimus qui blanditiis
          // end about module
          // about module
          .col-md-3.text-center
            .mz-module-about
              i.fa.fa-cube.ot-circle
              | 							
              h3 UI/UX Design
              | 							
              p  Itaque earum rerum hic tenetur a sapiente, ut aut reiciendis maiores
          // end about module
      // /.container
