doctype html
html
  head(lang="en")
    meta(charset="UTF-8")
    |   
    |     
    title
    |   
    |     
    script(type='text/javascript', src='/javascripts/jquery-1.10.2.min.js')
    |   
    |     
    style.
      *{padding: 0; margin: 0}
      .box{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
        display: none;
      }
      .box1{
        width: 500px;
        height: 500px;
        position: fixed;left: 50%; top: 25%;
        margin-left: -250px;
        border: 1px solid #000000;
      }
    |   
    |     
  |   
  body
    .box
      .box1
        a.close(href="javascript:;", onclick="$('.box').hide()") 关闭
    |   
    |     
    a.show(href="javascript:;", onclick="$('.box').show()") 显示
