doctype html
html.no-js(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    |  
    meta(name="viewport", content="width=device-width, initial-scale=1")
    |  
    title login
    link(rel="stylesheet", type="text/css", href="/stylesheets/normalize.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/demo.css")
    // 必要样式
    link(rel="stylesheet", type="text/css", href="/stylesheets/component.css")
    //if IE
      script(src="/stylesheets/html5.js")
  body
    .container.demo-1
      .content
        #large-header.large-header
          canvas#demo-canvas
          |                     
          .logo_box
            h3 欢迎你
            |                       
            form(id='loginForm', action="/logging", name="loginForm", method="post")
              .input_outer
                span.u_user
                |                               
                input.uname.text( name="uname",id='uname', style="color: #FFFFFF !important", type="text", placeholder="请输入账户")
              |                             
              .input_outer
                span.us_uer
                |                               
                input.pwd.text(name="pwd", style="color: #FFFFFF !important; position:absolute; z-index:100;", value="", type="password", placeholder="请输入密码")
              |                             
              .mb2.login
                button.act-but.submit(type='submit' style="color: #FFFFFF;cursor: pointer;") 登 录
              .mb2.register
                a.act-but.submit(href="/register", style="color: #FFFFFF;background:transparent;") 注 册
        script.
            if('#{msg}' != '')
              alert('#{msg}')
    // /container
    script(type='text/javascript', src='/javascripts/jquery-1.10.2.min.js')
    | 
    script(src="/javascripts/TweenLite.min.js")
    |       
    script(src="/javascripts/EasePack.min.js")
    |       
    script(src="/javascripts/rAF.js")
    |       
    script(src="/javascripts/demo-1.js")  
    |       
    script(src="/conm/login.js")     

